## Membuat Pretty URL

# Menonaktifkan fitur pencarian file otomatis berdasarkan nama mirip. dan pencarian dilakukan melalui router aplikasi
Options -MultiViews

# Aktifkan mesin rewrite URL.
RewriteEngine On

# Jalankan rewrite hanya jika request tersebut bukan folder/directory.
RewriteCond %{REQUEST_FILENAME} !-d

# Jalankan rewrite hanya jika request bukan file.
RewriteCond %{REQUEST_FILENAME} !-f

# tangkap seluruh URL dari awal sampai akhir
RewriteRule ^(.*)$ index.php?url=$1 [L]